#application {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -100px;
}
#application button.btn-xxs {
  padding: 1px 5px;
  font-size: 10px;
}
#application input.short-numeric {
  height: 25px;
  width: 60px;
  text-align: center;
}
#application input.compact-numeric {
  height: 25px;
  width: 45px;
  text-align: center;
}
#application input.super-short-numeric {
  height: 25px;
  width: 30px;
  text-align: center;
}
#application table.table-super-condensed td {
  padding-top: 2px;
  padding-bottom: 2px;
}
#application .t-table {
  display: table;
}
#application .t-cell {
  display: table-cell;
}
#application .t-row {
  display: table-row;
}
#application .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#application .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
#application #application-view > .container {
  padding-bottom: 20px;
}
#forgot label {
  font-weight: bold;
  margin-right: 5px;
}
#forgot .spacer {
  margin-top: 15px;
}
#profile .input-description {
  width: 100%;
  min-height: 40px;
  padding: 5px;
  background-color: transparent;
}
#profile .username {
  padding-bottom: 20px;
}
#profile .username legend {
  margin-bottom: 10px;
}
#profile .friend-profile-link {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
#user-profile .profile-avatar .user-avatar {
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
#user-profile .jumbotron.compact {
  padding-top: 10px;
  padding-left: 20px;
}
#user-profile .jumbotron.compact h1 {
  font-size: 30px;
}
#user-profile .jumbotron.compact h2 {
  font-size: 24px;
}
#user-profile .jumbotron.compact h3,
#user-profile .jumbotron.compact h4,
#user-profile .jumbotron.compact h5,
#user-profile .jumbotron.compact h6 {
  font-size: 20px;
}
#user-profile .friends .button-add-friend {
  float: left;
  margin-right: 5px;
}
#user-profile .friends .friend-profile-link {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
#user-profile .user-recipes {
  padding-top: 20px;
}
.signup-or-login-to-save-changes .alert {
  margin: 0;
  margin-bottom: 30px;
}
.signup-or-login-to-save-changes .strike .or {
  background-color: #fff;
}
.animated-modal .close-modal {
  cursor: pointer;
  text-align: center;
  font-size: 50px;
}
.animated-modal .animated-modal-content {
  padding: 20px;
}
.animated-modal .fa {
  opacity: 0.6;
  transition: opacity 0.1s;
}
.animated-modal .fa:hover {
  opacity: 1;
}
.bootstrap-modal .modal {
  z-index: 10000;
}
.markdown-editor textarea {
  padding: 5px;
  line-height: 22px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.markdown-editor .md-header {
  padding-bottom: 4px;
}
.markdown-editor .md-preview {
  height: 100% !important;
  font-size: 16px;
}
.media-signin-buttons .btn-signup {
  margin-top: 15px;
}
.media-signin-buttons .action-button {
  margin-top: 15px;
  text-align: center;
}
.media-signin-buttons .link-signup {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 250px;
}
.media-signin-buttons .link-signup .action {
  font-size: 16px;
}
.media-signin-buttons .link-signup .fa {
  font-size: 20px;
  padding-right: 15px;
}
.brand-logo {
  width: 200px;
  margin-top: -18px;
}
.spinner {
  text-align: center;
}
.spinner .fa {
  font-size: 30px;
}
.text-editor .btn-toolbar {
  padding-bottom: 3px;
}
.text-editor .editor {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 5px;
}
.tooltip-question {
  color: #0a6bb7;
  margin-left: 5px;
  font-size: 16px;
}
.user-avatar .avatar-border {
  display: inline-block;
  padding: 3px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.user-avatar .avatar-border img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.user-avatar .fa-user {
  padding: 0 5px 0 5px;
  font-size: 30px;
}
.user-notifications {
  width: 260px;
}
.user-notifications .user-notification {
  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.user-notifications .user-notification:last-child {
  border-bottom: none;
}
.user-notifications .user-notification.unread {
  background-color: #f7fbfe;
}
.user-notifications .user-notification .actions {
  padding-top: 5px;
}
.user-notifications .user-notification .actions .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.user-notifications .user-notification .actions .btn .fa {
  margin-right: 10px;
}
.user-notifications .user-notification .user-avatar {
  float: left;
  padding-right: 5px;
}
body {
  padding-top: 0;
}
.strike {
  position: relative;
  border-bottom: 1px #ddd solid;
  height: 20px;
  margin-bottom: 20px;
}
.strike .or {
  position: absolute;
  left: 48%;
  top: 7px;
  padding: 0 3px;
  background-color: #fff;
}
.block {
  overflow: hidden;
}
.typeform-widget {
  width: 100%;
  height: 700px;
  margin-top: -70px;
}
.app-navbar {
  font-size: 13px;
  letter-spacing: 0.15em;
}
.app-navbar .navbar-brand {
  font-size: 13px;
}
.app-beavr-masthead {
  padding-bottom: 7%;
}
.masthead-title {
  margin-top: 40px;
  font-size: 61px;
  line-height: 61px;
}
.masthead-scroll-arrow {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 49%;
  right: auto;
}
.app-block-intro {
  padding-top: 7%;
}
.app-block-intro-index {
  text-align: center;
  background: url("./img/masthead-bg-city.png") no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  padding-top: 8%;
  box-sizing: border;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
  margin-bottom: 90px;
}
.app-block-intro-index img {
  text-align: center;
  width: 80%;
  border-bottom: none !important;
}
.app-block-truck img,
.app-block-chat img,
.app-block-race-car img {
  width: 400px;
  margin-top: -75px;
}
.app-block-super-beavr {
  margin-top: 30px;
}
.app-block-super-beavr img {
  width: 475px;
  margin-top: -35px;
}
.app-block-profile img {
  width: 400px;
  margin-top: -35px;
}
.app-block-pool img {
  margin-top: 100px;
  width: 500px;
}
.app-block-race-car img {
  width: 470px;
}
.app-block-piggy-bank img {
  width: 420px;
  margin-top: 10px;
}
.app-block-employer-picker img {
  width: 470px;
  margin-top: -120px;
}
.app-block-giraffe img {
  width: 400px;
  margin-top: -120px;
}
@media (max-width: 768px) {
  .reset-margins-xs {
    margin: 0 !important;
  }
  .reset-padding-xs {
    padding: 0 !important;
  }
}
@media (max-width: 480px) {
  .app-block-game-img {
    transform: scale(1.5) !important;
  }
  .app-block-intro-index {
    min-height: 500px;
  }
}
@media (min-width: 768px) {
  .app-block-racecar-img {
    margin-top: -380px;
    margin-left: 0;
  }
}
.ambassador-list {
  font-size: 25px !important;
}
.app-block-footer {
  padding-top: 70px;
  font-size: 15px;
  background-color: transparent;
  color: #424;
}
.app-translate-15 {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
}
.app-translate-50 {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.app-translate-5 {
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}
.app-translate-10 {
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
@media (max-width: 420px) {
  .masthead-title {
    font-size: 32px !important;
    line-height: 45px;
  }
}
@media (max-width: 350px) {
  .masthead-title {
    font-size: 42px !important;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.panel-info > .panel-heading {
  background-color: #3434f5;
}
.panel-success > .panel-heading {
  background-color: #00bd6c;
}
.alert {
  padding: 2px 10px;
  margin: 0 15px 15px 15px;
}
.alert-warning {
  background-color: #f28700;
}
.panel-heading .btn-toolbar {
  margin-top: -2px;
}
.alert {
  padding: 8px 10px;
}
.label {
  font-size: 90%;
}
.navbar-brand {
  font-size: 30px;
}
.alert-dismissible {
  font-weight: bolder;
}
.alert-dismissible .close {
  right: 0;
}
.tab-pane {
  padding-top: 15px;
}
.popover {
  max-width: 100%;
}
.carousel .carousel-inner .item img {
  margin: auto;
}
.fade-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in;
}
.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
.fade-leave-active {
  opacity: 0.01;
}
.zoom-enter {
  opacity: 0.01;
  transform: scale3d(0.3, 0.3, 0.3);
  transition: all 0.1s ease-in;
}
.zoom-enter-active {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.zoom-leave {
  opacity: 1;
  transition: all 0.1s ease-in;
}
.zoom-leave-active {
  opacity: 0.01;
  transform: scale3d(0.3, 0.3, 0.3);
}
.p-0 {
  padding: 0px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.pl-0 {
  padding-left: 3px !important;
}
.pl-3 {
  padding-left: 3px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pr-3 {
  padding-right: 3px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pt-3 {
  padding-top: 3px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-50 {
  padding-left: 50px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-3 {
  padding-bottom: 3px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-35 {
  margin: 35px !important;
}
.ml-0 {
  margin-left: 3px !important;
}
.ml-3 {
  margin-left: 3px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-3 {
  margin-right: 3px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-3 {
  margin-top: 3px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
dding 0px !important,
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.pl-0 {
  padding-left: 3px !important;
}
.pl-3 {
  padding-left: 3px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pr-3 {
  padding-right: 3px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pt-3 {
  padding-top: 3px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-50 {
  padding-left: 50px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-3 {
  padding-bottom: 3px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-35 {
  margin: 35px !important;
}
.ml-0 {
  margin-left: 3px !important;
}
.ml-3 {
  margin-left: 3px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-3 {
  margin-right: 3px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-3 {
  margin-top: 3px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
