env_name: production
user: ubuntu
home: /home/ubuntu
node_env: production

website_url: "http://beavr.com"
http_port: 80

db_name: "main"
db_user: "postgres"
db_password: "aw3afw323swdf5"

mail_service: "Mailgun"
mail_from: "hello@beavr.com"
mail_user: "postmaster@mail.beavr.com"
mail_password: "8e83842a8c05a3cc05715b7a626d2e8b"

facebook_client_id: 1643377549276547
facebook_client_secret: 1da6597bec02ca41f3950641c6e965a2
google_analytics: UA-73183713-1
