.app-beavr-masthead
    margin-top: 8%
    margin-bottom: 12%

.masthead-title
    font-size: 81px
    line-height: 81px

.masthead-scroll-arrow
    display: block
    position: absolute
    bottom: 2%
    left: 49%
    right: auto

.app-block-intro
  padding-top 20px
  img
    text-align center
    width 80%
    border-bottom none !important

.app-block-profile img,
.app-block-truck img,
.app-block-chat img
.app-block-race-car img
  width: 400px
  margin-top: -75px

.app-block-pool img
    margin-top: 100px
    width: 500px

.app-block-race-car img
  width: 470px

.app-block-employer-picker img
  width: 470px
  margin-top: -120px


.app-block-giraffe img
  width:350px
  margin-top: -190px

