body
    padding-top: 20px

.strike
    position relative

    border-bottom: 1px #ddd solid
    height: 20px

    margin-bottom: 20px

    .or
        position: absolute
        left: 48%
        top: 7px
        padding: 0 3px
        background-color: white

.block
  overflow hidden

.app-navbar
  font-size 13px
  letter-spacing .15em
  .navbar-brand
    font-size 13px

.app-beavr-masthead
    margin-top: 10%;
    margin-bottom:10%;

.masthead-title
    font-size: 92px

.app-block-intro
  padding-top 20px
  img
    text-align center
    width 80%
    border-bottom none !important

.app-block-game img,
.app-block-stats img
  width 70%

.app-block-truck img
  width 100%

@media (max-width: 480px)
  .app-block-game-img
    transform scale(1.5) !important

.app-block-stats
  hr
    width calc(80% + 60px)

.app-block-racecar
  & > .container
    & > .row
      z-index 2

.app-block-racecar-img
  margin-top -380px
  margin-right: -200px
  float right
  width 90%

@media (min-width: 768px)
  .app-block-racecar-img
    margin-top -380px
    margin-left 0

.app-block-footer
  font-size: 15px
  background-color transparent
  color #424

.app-translate-15
  -webkit-transform translateY(15px)
  -ms-transform translateY(15px)
  transform translateY(15px)

.app-translate-50
  -webkit-transform translateY(50px)
  -ms-transform translateY(50px)
  transform translateY(50px)

.app-translate-5
  -webkit-transform translateY(5%)
  -ms-transform translateY(5%)
  transform translateY(5%)

.app-translate-10
  -webkit-transform translateY(10%)
  -ms-transform translateY(10%)
  transform translateY(10%)

@media (max-width: 400px)
  .masthead-title
    font-size 46px !important

@media (max-width: 350px)
  .masthead-title
    font-size 42px !important
